body {
margin: 0px;
background-color:#cfcfcf;
font: 14px/1.5 "Lucida Grande", Lucida, Verdana, sans-serif;
-webkit-text-size-adjust:none;
}
a {
text-decoration: none;
color: #0748bd;
}
a:hover
{
text-decoration:underline;
}

#body-wrapper {
margin: 0 auto;
min-width: 1200px;
}

#header {
background-color: #000;
height: 35px;
width: 100%;
text-align: center;
padding-top: 10px;
color: #CCC;
font: normal 18px "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

#header a {
color: #CCC;
}


#bandeau {
background-image: url('/images/fond-orange.png');
height: 175px;
}

#bandeau a:hover
{
text-decoration:none;
}

#bandeau .titre {
position:relative;
left:520px; top:38px;
padding-left: 140px;
background-image: url('/images/icon-114.png');
background-repeat: no-repeat;
font: normal 44px 'Permanent Marker', "Helvetica Neue", Helvetica, Geneva, sans-serif;
color: #EEE;
text-shadow: 0 3px 3px rgba(0,0,0,1.0);
height: 114px;
display: inline-block;
padding-top: 2px;
}

#bandeau .soustitre {
position:relative;
left:660px; top:-15px;
width: 550px;
font: normal 24px "Helvetica Neue", Helvetica, Geneva, sans-serif;
color: #000;
text-shadow: 0 1px 0px rgba(200,200,200,0.7);

}

#main {
  padding: 10px;
  margin-bottom: 20px;
}

#left {
  float:left;
   position: relative;
   top:-155px;
   padding-left:60px;
   width:435px;
}

.fixed_container {
  display:block;
  width:670px;
}

#iphone {
 width: 385px; height: 750px;
 background-image: url('/images/iphone.png');

}

.fixed-iphone {
  position: fixed;
  top: 0;
}

.image-iphone{
position: relative;
top:131px;
left:2px;}

.slideshow { height: 480px; width: 320px; margin: auto }

#right {
float:left;
width: 600px;
text-align:justify;
margin-left: 15px;
margin-top: 30px;
min-height: 700px;
}

.warning-box {
	background-color: #aaa;
	padding: 15px;
	border:#333 1px solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	line-height: 19px;
}

#right h2 {
	font: normal 24px "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #000;
	margin: 0 0 20px;

}

#right h3 {
	font: normal 20px "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: rgba(0,0,0,0.6);
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	margin: 0 0 10px;

}

li {
	list-style-image:url('/images/balle-tennis.png');
	margin-bottom: 10px;
	line-height: 16px;
}


table {
    border-collapse: collapse;
    border: 1px solid #000000;
    width:100%;
}

table th {
    text-align: center;
    border: 1px solid #000000;
    border-top: 1px solid #000000;
    background-color:#b0b0b0;
    color:#FFFFFF;
}

table td {
    border:1px dotted #999;
	text-align: center;
    background-color:#dddddd;
    padding: 3px;

}

.maj
{
color:rgba(0,0,0,0.5);
font-weight:bold;
font-size: 12px;
}

.sommaire a
{
color:rgba(0,0,0,0.5);
font-weight:bold;
text-decoration:none;
}

.sommaire a:hover {
text-decoration: underline;
}


#footer {
background-color: #BBB;
background-image: url('/images/degrade-gris.png');
background-repeat: repeat-x;
height: 58px;
padding-top: 12px;
text-align: center;
color: #888;
font: normal 18px "Helvetica Neue", Helvetica, Geneva, sans-serif;
}
#footer a {
color: #888;
}
