<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="google-site-verification" content="4Ft2dKhCJH0wWPUoOvgCDrkfnfr8bHMQQAOngSZInnY" />
<title>MonClassement.fr : Calculez votre classement de tennis sur iPhone !</title>
<meta name="description" content="Mon Classement Tennis vous permet de calculer votre classement de tennis FFT direcement depuis votre iPhone ou iPod touch." />
<meta name="keywords" content="tennis, fft, classement, série, iphone, ios, nicolas, mondollot" />
<link rel="shortcut icon" href="/favicon.png">

<!-- include jQuery library -->
<script type="text/javascript" src="/js/jquery.min.js"></script>

<!-- include Cycle plugin -->
<script type="text/javascript" src="/js/jquery.cycle.all.min.js"></script>

<!--  initialize the slideshow when the DOM is ready -->
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
    fx: 'fade'
  });

  scrolliPhone(); // and scroll iphone
});
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12284905-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript" src="/js/monclassement.js"> </script>
<link href="/css/monclassement.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="body-wrapper">
<div id="header">
<a href="index.html">Accueil</a> | <a href="http://itunes.apple.com/fr/app/mon-classement-tennis/id348618631?mt=8" target="_blank">Téléchargement</a> | <a href="historique.html">Mises à jour</a> | <a href="faq.html">FAQ</a> | <a href="regles.html">Règles</a> | <a href="contact.html">Contact</a>
</div>
<div id="bandeau">
<a href="http://itunes.apple.com/fr/app/mon-classement-tennis/id348618631?mt=8" target="_blank">
<span class="titre">Mon Classement Tennis</span>
<div class="soustitre">Calculez votre classement de tennis sur iPhone!</div>
</a>
</div>
<div id="main">
<div id="left">
<div id="iphone">

  <div class="slideshow image-iphone">
    <img src="images/screenshots/img1.png" width="320" height="480" />
    <img src="images/screenshots/img2.png" width="320" height="480" />
    <img src="images/screenshots/img3.png" width="320" height="480" />
    <img src="images/screenshots/img4.png" width="320" height="480" />
    <img src="images/screenshots/img5.png" width="320" height="480" />
    <img src="images/screenshots/img6.png" width="320" height="480" />
    <img src="images/screenshots/img7.png" width="320" height="480" />
    <img src="images/screenshots/img9.png" width="320" height="480" />
    <img src="images/screenshots/img10.png" width="320" height="480" />
    <img src="images/screenshots/img11.png" width="320" height="480" />
    <img src="images/screenshots/img12.png" width="320" height="480" />
    <img src="images/screenshots/img13.png" width="320" height="480" />
    <img src="images/screenshots/img14.png" width="320" height="480" />
    <img src="images/screenshots/img15.png" width="320" height="480" />
  </div>
  </div>
  <div style="visibility:none">&nbsp;</div>
</div>
<div id="right">

          {{ content }}
</div>
<!-- fin droite-->
<div style="clear:both"></div>
</div>
<!-- fin main-->

<div id="footer">
<a href="index.html">Accueil</a> | <a href="http://itunes.apple.com/fr/app/mon-classement-tennis/id348618631?mt=8" target="_blank">Téléchargement</a>  | <a href="historique.html">Mises à jour</a> | <a href="faq.html">FAQ</a> | <a href="regles.html">Règles</a> | <a href="contact.html">Contact</a>
<br/>
Copyright © 2010 Nicolas Mondollot - Tous droits réservés
</div>
<!-- fin footer-->
</div>
<!-- fin body-wrapper-->
</body>
</html>